@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model Group
@{
    ViewData["Title"] = "Groups";
    Layout ="_Layout";
}
    <partial name="_LayoutAccount" />
    <div class="view">
        <h2>@Model.Name</h2>
        
       
    </div>
    

    



